<h1>Edit article</h1>

<%= render 'display_errors' %>

<%= form_with model: @article, local: true do |f| %>
  <%= render 'form', f: f %>
<% end %>

<%= link_to 'All Articles', articles_path %>
<%= link_to 'Back', article_path(@article) %>
